:root {
    --promoters: #19aade;
    --detractors: #ef7e32;
    --passives: #1de4bd;
}

.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 1.4rem;
  }

  .inputbar{
    /* background-color: #a5a9aa!important; */
    margin: 0.5rem;
    box-shadow: rgba(144, 147, 149, 0.5) 0px 8px 24px;
    width: 95vw;
    border-radius: 10px;
    padding: 0.5rem;
  }

  .input-titles {
      padding-right: 0.5rem;
  }
  
  .inputbar input {
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: none;
  }

  .inputbar input:hover {
    color: white;
    background-color: gray;
    box-shadow: none;
  }
  
  .inputbar button {
    font-size: 1rem;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }  

#employees::placeholder {
    color:rgba(144, 147, 149, 0.5)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.top-container {
    display: flex;
    width: 95vw;
    margin-left: 0.4rem;
}
.bottom-container {
    display: flex;
    width: 95vw;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction:column;
    width: 47vw;
    height: 42vh;
    box-shadow: rgba(144, 147, 149, 0.5) 0px 8px 24px;
    margin-right: 0.5rem;
}

.statistics-headings {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

h4 {
    margin-bottom: 1rem;
    font-size: 1.15rem;
}

.heading-icons {
    position: absolute;
    top: -50%;
    right: 0%;
    height: 50px;
}

.organiser {
    display: flex;
}

.info-button {
    margin-top: 1rem;
    border: none;
    background-color: none;
}

.popup-content {
    margin: auto;
    background: rgb(1, 0, 71);
    color: white;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    padding: 1rem;
    border: solid white 1px;
  }

  .popup-arrow {
    color: rgb(1, 0, 71);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 47vw;
    height: 42vh;
    padding: 1rem;
    box-shadow: rgba(144, 147, 149, 0.5) 0px 8px 24px;
}
.bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 47vw;
    height: 42vh;
    padding: 1rem;
    box-shadow: rgba(144, 147, 149, 0.5) 0px 8px 24px;
    margin-right: 0.5rem;
}
.bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 47vw;
    height: 42vh;
    padding: 1rem;
    box-shadow: rgba(144, 147, 149, 0.5) 0px 8px 24px;
    overflow-y: scroll;
}

.total-responses, .response-rate, .expected {
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.total {
    color: var(--promoters);
    padding: 0.5rem;
    font-weight: bold;
}
.rate {
    color: var(--passives);
    padding: 0.5rem;
    font-weight: bold;
}

.expected {
    font-size: small;
    margin-top: 1.5rem;
}
.expected-responses {
    font-size: small;
}

.wordcloud-heading {
    margin-bottom: 1rem;
}

.simple-cloud {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 95%;
    width: 95%;
    background-color:rgb(1, 0, 71);
    padding: 1rem;
    border-radius: 5px;
}

.heading-icons-smaller {
    position: absolute;
    top: -30%;
    right: 0%;
    height: 45px;
}