.bar-container {
  width: 65%;
  height: 400px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chart {
  padding: 10px;
  height: 350px;
}
.datefilter-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.datefilter-box * {
  margin: 0.5rem;
  padding: 5px;
}
.datefilter-box button {
  border: 1px solid black;
  border-radius: 5px;
}
.circle-container {
  width: 30%;
  height: 400px;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1rem;
}

.circle-text-container {
  padding: 0.5rem;
  display: flex;
}

.doughnut-parent {
  display: flex;
}
.responses {
  color: black !important;
  margin-top: 1rem;
}
.score-container * {
  border: 1px solid black;
  color: black !important;
}

.parent-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastMonthNPS {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 5px;
  margin: 10px;
  height: 60px;
  width: 120px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.currentMonthNPS {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 5px;
  margin: 10px;
  height: 60px;
  width: 130px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.score-container {
  /* flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; */
  margin: 1rem 0;
  margin-left: 1rem;
  padding: 5px;
}
.promoters,
.passive,
.detractors {
  padding: 10px;
  min-width:fit-content;
  height: 35px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 0.85rem;
  border: none;
  box-shadow: 0px 5px 15px lightgray;
}
.promoters {
  margin-top: 50px;
  background-color: #19aade;
}
.passive {
  background-color: #1de4bd;
}
.detractors {
  background-color: #ef7e32;
}
.doughnut-container {
  height: 250px;
  width: 250px;
  margin: auto;
  padding: 10px;
}

.years-container {
  display: flex;
  justify-content: space-between;
}
.year {
  font-size: 0.75rem;
  padding: 10px;
}


@media (max-width: 1200px) {

  .bar-container {
    width: 70%;
  }
  .circle-container {
    width: 60%;
    margin: 10px;
    font-size: 0.8rem;
  }
}
@media (max-width: 1000px) {
  .bar-container {
    width: 90%;
  }
  .circle-container {
    width: 80%;
    margin: 10px;
    font-size: 0.8rem;
  }
  /* .score-container {
    display: flex;
    flex-direction: row;
    background-color: #ef7e32;
    justify-content: center;
    margin: 1.8rem 0;
    padding: 5px;
  } */
}


@media (max-width: 700px) {
  .bar-container {
    width: 90%;
     
  }
  .circle-container {
    width: 100%;
    margin: 5px;
    font-size: 0.8rem;
  }
  .doughnut-container {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 450px) {
  .bar-container {
    width: 95%;
     
  }
  .chart {
    padding: 5px;
  }
}
@media (max-width: 350px) {
  .bar-container {
    width: 300px;
    height:400px;
  
  }
  
}