.bar-container {
  width: 65%;
  height: 350px;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chart {
  padding: 5px;
  height: 350px;
}
.datefilter-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.datefilter-box * {
  margin: 0.3rem;
  padding: 5px;
}
.datefilter-box button {
  border: 1px solid black;
  border-radius: 5px;
}
.circle-container {
  width: 30%;
  height: 350px;
  margin: 0.5rem;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 1rem;
}

.doughnut-parent {
  display: flex;
}
.responses {
  color: black !important;
  margin-top: 1rem;
}
.score-container * {
  border: 1px solid black;
  color: black !important;
}

.parent-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentMonthNPS, .lastMonthNPS,.overall-data {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 10px;
  margin: 10px;
  height: 2.5rem;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 0.8rem;
}
.score-container {
  margin: 0.5rem ;
  margin-left: 1rem;
  
}
.promoters,
.passive,
.detractors {
  padding: 10px;
  width:fit-content;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 0.85rem;
  border: none;
  box-shadow: 5px 5px 15px lightgray;
}
.promoters {
  margin-top: 40px;
  background-color: #19aade;
}
.passive {
  background-color: #1de4bd;
}
.detractors {
  background-color: #ef7e32;
}
.promotersmsg{
  border-radius: 5px;
  background-color: #19aade;
  padding:5px 10px;
}
.passivesmsg {
  background-color: #1de4bd;
  padding:5px 10px;
  border-radius: 5px;
}
.detractorsmsg {
  background-color: #ef7e32;
  padding:5px 10px;
  border-radius: 5px;
}
.doughnut-container {
  height: 200px;
  width: 200px;
  margin:0 1rem;
  
}

.msgPara{
  padding: 5px;
  margin: 0.5rem 0;
  text-align: left;
  border: 1px solid transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
  align-items: center; 
  width:100%;
}

@media (max-width: 1000px) {
  .bar-container {
    width: 90%;
  }
  .circle-container {
    width: 80%;
    margin: 10px;
    font-size: 0.8rem;
  }
 
}


@media (max-width: 700px) {
  .bar-container {
    width: 90%;
     
  }
  .circle-container {
    width: 100%;
    margin: 5px;
    font-size: 0.8rem;
  }
  .doughnut-container {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 450px) {
  .bar-container {
    width: 95%;
     
  }
  .chart {
    padding: 5px;
  }
}
@media (max-width: 350px) {
  .bar-container {
    width: 300px;
    height:400px;
  
  }
  
}