.doughnut {
  position: absolute;
}
.doughnut-number {
  position: relative;
  top: 45%;
  margin: auto;
  z-index: 1;
  font-size: 2rem;
}
.one {
  left: 45%;
}
.two {
  left: 39.5%;
}

#zero {
  color: black;
}

#positive {
  color: #19aade;
}

#negative {
  color: #ef7e32;
}
