.doughnut {
  position: absolute;
}
.doughnut-number {
  position: relative;
  top: 45%;
  /* margin: auto; */
  z-index: 1;
  font-size: 1.8rem;
  width: min-content;
}
.one {
  left: 100px;
}
.two {
  left: 95px;
}

#zero {
  color: black;
}

#positive {
  color: #19aade;
}

#negative {
  color: #ef7e32;
}
@media (max-width: 730px) {
  .doughnut-number {
    position: relative;
    top: 45%;
    left: 40%;
    font-size: 1.5rem;
   
  }
}
