.doughnut {
  position: absolute;
}
.doughnut-number {
  position: relative;
  top: 45%;
  left: 38%;
  margin: auto;
  z-index: 1;
  font-size: 2rem;
}

#zero {
  color: black
}

#positive {
  color: lime;
}

#negative {
  color: red;
}
