* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.header-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 10px;
}
.header{
  width: 70vw;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.navbar-rightbox{
  display: flex;
  justify-content: center;
  width: 20vw;
}
.logout-button{
  margin-right: 0.75rem;
  padding:10px;
  box-shadow: rgba(144, 147, 149, 0.5) 0px 8px 24px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px; 
  background-color: red;
}

.logout-button:hover {
  color: white;
  background-color: gray;
}

.chart-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.datefilter-box{
  background-color: rgba(163, 170, 171, 0.402);
  width: 95vw;
  border-radius: 10px; 
}

.datefilter-box input {
  font-size: 1rem;
}

.datefilter-box button {
  font-size: 1rem;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.datefilter-box button:hover {
  color: white;
  background-color: gray;
}

.message-container, .line-container{
  width: 50vw;
  height: 400px;
  min-height: 300px;
  
}
.message-container{
  overflow-y: scroll;
}

input {
  font-family: inherit;
  text-indent: 3px;
}

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loader svg {
  height: 30vh;
  width: 30vw;
}

@media (max-width: 900px) {
  .message-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .header{
    width: 60vw;
  }
  /* .message-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  } */
 
  .message-container, .line-container{
    width: 90%;
    height: 400px;
  
  }
  .bottom-container{
  flex-direction: column;  
  }
}
@media (max-width: 460px) {
  .header {
    font-size: 1rem !important;
    
  }
  .message-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
@media (max-width: 380px) {
  
  .toggle-button {
    width: 20px !important;
  }
  .header{
    width: 50vw; 
  }
}
