* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: white; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
.chart-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.datefilter-box{
  /* background-color: aliceblue; */
  box-shadow: 0px 5px 15px darkgray;
  width: 96vw;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #f2f3f4;
}

.datefilter-box input {
  font-size: large;
}

.datefilter-box button {
  font-size: large;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.datefilter-box button:hover {
  color: white;
  background-color: gray;
}
/* .chart-container,
.header-container {
  margin: 1rem;
} */

/* .message-container {
  margin-top: 30px;
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr; 
  gap: 1em 1em; 
} */
.message-container, .line-container{
  width: 50vw;
  height: 400px;
  min-height: 300px;
  
}
.message-container{
  overflow-y: scroll;
}

input {
  font-family: inherit;
  text-indent: 3px;
}

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loader svg {
  height: 30vh;
  width: 30vw;
}

@media (max-width: 900px) {
  .message-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 600px) {
  .header {
    width: 95vw;
  }
  .toggle-button {
    top: 0;
    right: 5px;
  }
  /* .message-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  } */
 
  .message-container, .line-container{
    width: 90%;
    height: 400px;
  
  }
  .bottom-container{
  flex-direction: column;  
  }
}
@media (max-width: 460px) {
  .header {
    font-size: 1rem !important;
    width: 80vw;
  }

  .message-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
@media (max-width: 375px) {
  .header {
    width: 75vw;
  }
  .toggle-button {
    width: 30px !important;
  }

  .message-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}
