body {
  height: 100%;
  color: #000036;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  color: #000036;
font-size:x-large;
}

#login {
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px #000036;
  padding: 5px;
  border-radius: 5px;
  margin: 100px 100px;
}

#login img {
  width: 35px;
  height: 35px;
  position: relative;
  left: 20px;
  top: 12px;
}

#welcome {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#email,
#password {
  height: 35px;
  width: 250px;
  border-radius: 3px;
  margin: 10px 10px;
  background-color: #C6DBEB;
  border: none;
  color: #000036;
  text-indent: 7px;
}

::placeholder {
  color: #000036;
}

#google-signin {
  height: 50px;
  width: 250px;
  border-radius: 3px;
  margin: 10px;
  margin-left: 25px;
  background-color: transparent;
  color: #000036;
  font-size: 1rem;
  border: none;
}

#google-signin:hover {
  cursor: pointer;
}

#newuser {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}

a {
  color: #000036;
  text-decoration: none;
}
