body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000036;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px #000036;
  padding: 5px;
  border-radius: 5px;
}

#welcome {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#email,
#password {
  height: 35px;
  width: 250px;
  border-radius: 3px;
  margin: 10px 10px;
  /* background-color: #d7e7ff; */
  background-color: #C6DBEB;
  border: none;
  color: #000036;
  text-indent: 7px;
}

::placeholder {
  color: #000036;
}

#google-signin {
  height: 45px;
  width: 250px;
  border-radius: 3px;
  margin: 10px;
  margin-left: 25px;
  /* background-color: #b1cff9; */
  background-color: transparent;
  background: url("/public/GLogo.svg") no-repeat;
  background-attachment: fixed;
  background-position:43%;
  
  color: #000036;
  font-size: 1rem;
  border: none;
}

#google-signin:hover {
  cursor: pointer;
}

#newuser {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
}

a {
  color: #000036;
  text-decoration: none;
}
