/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000036;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0px 5px 15px #000036;
  padding: 5px;
  border-radius: 5px;
}

#welcome {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#email,
#password,
#confirmPassword,
#handle {
  height: 35px;
  width: 250px;
  border-radius: 3px;
  margin: 10px 10px;
  background-color: #C6DBEB;
  border: none;
  color: #000036;
  text-indent: 7px;
}

::placeholder {
    color: #000036;
}

#signup {
  height: 35px;
  width: 125px;
  border-radius: 3px;
  margin: 10px;
  background-color: #4f86f7;
  color: white;
  font-size: 1rem;
  border: none;
}

#signup:hover {
  cursor: pointer;
  border: 1px solid #000036;
  box-shadow: 0 0 3px #000036;
}

#account {
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
} */
