.header {
  width: 100vw;
  text-align: center;
  font-family: "Domine", serif;
  background-color: #968d8d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.header p {
  flex-basis: 80%;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}
