.nav-container {
  width: 100vw;
  text-align: center;
  font-family: "Domine", serif;
  background-color: #837a7a;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.logo-link {
  height: 75px;
}
.logo {
  width: 70px;
  height: 60px;
}

.nav-link {
  list-style: none;
  text-decoration: none;
}
.nav-link li {
  margin-top: 1rem;
}
.nav-link li a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 1rem;
  color: black;
  text-decoration: none;

  border-radius: 5px 20px;
  padding: 0.5rem;
}

.navClas li a:active,
li a:hover {
  color: white;
}
.signin {
  background-color: transparent;
}
.signup {
  background-color: #ecb653;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
