.messages-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:0 1rem;
}

.list {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  margin: 0.5rem 0;
}

.message-box {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: flex-start;
  align-items: center; 
  width:100%;
}



.indicator {
  min-width: 0.4rem;
  height: 3rem;
}
.coral {
  background-color: #ef7e32;
}
.greenish-blue {
  background-color: #1de4bd;
}
.blue {
  background-color: #19aade;
}
.ratings {
  font-size: 1.5rem;
}
.message {
  padding: 0.7rem;
}
.date-box {
  display:flex;
  align-items: center;
  margin: 0.5rem;
}
@media (max-width: 380px) {
  
  .list {
    display: flex;
    justify-content: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    margin: 0.5rem 0;
  }
}