.messages-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  padding:0 1rem;
}
.list {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  margin: 0.5rem 0;
  
}
.message-box {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.message-box * {
  margin-left: 10px;
}

.indicator {
  width: 0.5rem;
  height: 3rem;
}
.coral {
  background-color: #ef7e32;
}
.greenish-blue {
  background-color: #1de4bd;
}
.blue {
  background-color: #19aade;
}
.ratings {
  font-size: 2rem;
}
.message {
  padding-top: 0.7rem;
}
.date-box {
  margin: 0.5rem;
}
